html {
  background-color: rgb(249, 246, 238);
}
.name {
  font-family: 'Manrope', sans-serif;
  font-weight: 260;
  font-size: 120px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
.engineer {
  font-family: 'Manrope', sans-serif;
  font-weight: 260;
  font-size: 120px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}
